:root{
    --pink: #e069a9;
    --gray: #7b767a;
}

*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

button{
    all:unset;
    padding: 6px 16px;
    background-color: var(--pink);
    height:32px;
    color: white;
    font-weight: 500;   
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #c05792; 
  }

.container{
    max-width: 1280px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    padding: 0 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap:24px;
}

nav ul li{
    font-weight: bolder;
}

.logo img{
    width: auto;
    height: 48px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Pushes the image to the right */
    height: calc(100vh - 72px);
    position: relative; /* Ensure absolute positioning works correctly */
    overflow: hidden; /* Hides overflow content */
}

.hero h1{
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
}

.hero p{
    font-weight: 600px;
    color: var(--gray);
}

.hero-button{
    display: flex;
    gap: 10px;
}

.hero-button{
    font-size: 20px;
}

.secondary-btn{
    background: transparent;
    color:var(--gray);
    border: 1px solid var(--gray);
}

.secondary-btn:hover{
    all:unset;
    padding: 6px 16px;
    background-color: var(--pink);
    height:32px;
    color: white;
    font-weight: 500;   
    cursor: pointer;
    border-radius: 6px;
    font-size: 20px;

}

.shopping p{
    font-size: 14px;
    margin-bottom: 8px;
}

.brand-icons{
    display: flex;
    gap: 16px;
}

.hero-image {
    height: auto;
    width: 100%; /* Set to 100% for responsive sizing */
    max-width: 800px; /* Adjust this value to limit the image width */
    margin-left: 50px; /* Adjusts the image to the right */
}

.hero-content {
    position: absolute;
    left: 20px; /* Adjust to position the text properly */
    z-index: 10; /* Ensure text is above the image */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
